@keyframes ldio-gk6mkfq24cm {
    0% {
        transform: scale(1.1500000000000001)
    }
    100% {
        transform: scale(1)
    }
}

.ldio-gk6mkfq24cm div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 13.333333333333336px;
    left: 13.333333333333336px;
    background: #220b09;
    animation: ldio-gk6mkfq24cm 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.3s;
}

.ldio-gk6mkfq24cm div:nth-child(2) {
    top: 13.333333333333336px;
    left: 106.66666666666666px;
    background: #d34c31;
    animation-delay: -0.2s;
}

.ldio-gk6mkfq24cm div:nth-child(3) {
    top: 106.66666666666666px;
    left: 13.333333333333336px;
    background: #ff312d;
    animation-delay: 0s;
}

.ldio-gk6mkfq24cm div:nth-child(4) {
    top: 106.66666666666666px;
    left: 106.66666666666666px;
    background: #e88432;
    animation-delay: -0.1s;
}

.loadingio-spinner-cube-5j2d8uwiplo {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-gk6mkfq24cm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-gk6mkfq24cm div {
    box-sizing: content-box;
}

